{{>user-header}}

<main>
    <!-- carosusel -->
    <section>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <div class="carousel-cards row">
                        <div class="col-md-6 d-flex justify-content-center align-items-center ">
                            <div class="carousel-left-section ms-3">
                                <h1 class="carousel-title">Enjoy life at</h1>
                                <h1 class="carousel-title-tail mt-md-3">lightning speeds</h1>
                                <span class="carouse-product-info d-block mt-3">Moto Edge + - The most immersive
                                    display</span>
                                <button class="mt-3 mt-md-4">Discover <i class="ms-2 bi bi-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6 m-auto">
                            <img class="carousel-image" src="/images/banner/moto.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="carousel-cards row " style="background-color: #e9e8b8;">
                        <div class="col-md-6 d-flex justify-content-center align-items-center ">
                            <div class="carousel-left-section ms-3">
                                <h1 class="carousel-title">Are You ready to</h1>
                                <h1 class="carousel-title-tail mt-3">lead the way</h1>
                                <span class="carouse-product-info d-block mt-3">Apple MacBook Pro 2020 ( macOS
                                    Monterey, Silver)</span>
                                <button class="mt-4">Discover <i class="ms-2 bi bi-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6 m-auto">
                            <img class="carousel-image" src="/images/banner/mxw_1920,f_auto.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-cards row " style="background-color: #c3d4de;">
                        <div class="col-md-6 d-flex justify-content-center align-items-center ">
                            <div class="carousel-left-section ms-3">
                                <h1 class="carousel-title">Immerse yourself </h1>
                                <h1 class="carousel-title-tail mt-3">in pure blacks</h1>
                                <span class="carouse-product-info d-block mt-3">A80K | BRAVIA XR | OLED | 4K ULTRA
                                    HD</span>
                                <button class="mt-4">Discover <i class="ms-2 bi bi-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6 m-auto">
                            <img class="carousel-image" src="/images/banner/sony.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev carousel-control" type="button"
                data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <i class="text-dark bi bi-arrow-left"></i>
            </button>
            <button class="carousel-control-next carousel-control" type="button"
                data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <i class="text-dark bi bi-arrow-right"></i>
            </button>
        </div>
    </section>

    <!-- category bar -->
    <section>
        <div class="category-row">
            <div class="category-left bg-white">
                <div class="category-title">
                    <h2 class="text-center">Best of</h2>
                </div>
                <div class="category-image">
                    <img class="w-100 category-banner" src="./images//Best-of-Electronics.png" alt="">
                </div>
            </div>
            <div class="category-right d-flex align-items-center justify-content-around">
                {{#each categoryList}}
                <div class="category p-2">
                    <img class="category-icon-image" src="{{this.imageUrl}}" alt="">
                </div>
                {{/each}}
                {{!-- <div class="category">
                    <img class="category-icon-image" src="/images/category-images/mxw_2048,f_auto (1).png" alt="">
                </div>
                <div class="category">
                    <img class="category-icon-image" src="/images/category-images/mxw_2048,f_auto (2).png" alt="">
                </div>
                <div class="category">
                    <img class="category-icon-image" src="/images/category-images/mxw_2048,f_auto (4).png" alt="">
                </div>
                <div class="category">
                    <img class="category-icon-image" src="/images/category-images/mxw_2048,f_auto (3).png" alt="">
                </div>
                <div class="category">
                    <img class="category-icon-image" src="/images/category-images/mxw_2048,f_auto(5).png" alt="">
                </div>
                <div class="category">
                    <img class="category-icon-image" src="/images/category-images/mxw_2048,f_auto(6).png" alt="">
                </div> --}}
            </div>
        </div>
    </section>

    <!-- product listing -->
    <section>
        <div class="container  mt-5">
            <h2 class="section-tilte">Products</h2>
            <div class="row mt-3">
                <div class="col-md-3 col-lg-2 col-6  mt-4 d-flex justify-content-center align-items-center">
                    <div class="product-box-wrap">
                        <div class="proudct-image-wrap d-flex justify-content-center align-items-center">
                            <img class="product-image" src="/images/product-images/iphone.png" alt="">
                        </div>
                        <p class="product-name mt-3">Apple iPhone 13</p>
                        <span class="product-price">₹67,990</span>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2  col-6  mt-4 d-flex justify-content-center align-items-center">
                    <div class="product-box-wrap">
                        <div class="proudct-image-wrap d-flex justify-content-center align-items-center">
                            <img class="product-image" src="/images/product-images/macm1.png" alt="">
                        </div>
                        <p class="product-name mt-3">Apple iPhone 13</p>
                        <span class="product-price">₹67,990</span>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2  col-6  mt-4 d-flex justify-content-center align-items-center">
                    <div class="product-box-wrap">
                        <div class="proudct-image-wrap d-flex justify-content-center align-items-center">
                            <img class="product-image" src="/images/product-images/macm2.png" alt="">
                        </div>
                        <p class="product-name mt-3">Apple iPhone 13</p>
                        <span class="product-price">₹67,990</span>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2  col-6  mt-4 d-flex justify-content-center align-items-center">
                    <div class="product-box-wrap">
                        <div class="proudct-image-wrap d-flex justify-content-center align-items-center">
                            <img class="product-image" src="/images/product-images/macpro.png" alt="">
                        </div>
                        <p class="product-name mt-3">Apple iPhone 13</p>
                        <span class="product-price">₹67,990</span>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6  mt-4 d-flex justify-content-center align-items-center">
                    <div class="product-box-wrap">
                        <div class="proudct-image-wrap d-flex justify-content-center align-items-center">
                            <img class="product-image" src="/images/product-images/iphone.png" alt="">
                        </div>
                        <p class="product-name mt-3">Apple iPhone 13</p>
                        <span class="product-price">₹67,990</span>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2  col-6  mt-4 d-flex justify-content-center align-items-center">
                    <div class="product-box-wrap">
                        <div class="proudct-image-wrap d-flex justify-content-center align-items-center">
                            <img class="product-image" src="/images/product-images/macm1.png" alt="">
                        </div>
                        <p class="product-name mt-3">Apple iPhone 13</p>
                        <span class="product-price">₹67,990</span>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ad section -->
    <section>
        <div class="container-fluid mt-5 advertisement-banner-wrap">
            <img class="w-100 " src="/images/Best-of-Electronics s.png" alt="">
        </div>
    </section>

    <!-- highlight section -->
    <section>
        <div class="container-fluid mt-5">
            <h2 class="section-tilte ms-3">Highlights</h2>
            <div class="row p-3">
                <div class="col-md-6 col-lg-4 col-sm-6 p-2 ">
                    <div class="highlight-box  justify-content-center align-items-center position-relative">
                        <div class="hilight-info p-2">
                            <h3>Surface Pro 9 </h3>
                            <h3>Windows Tablets</h3>
                            <span>Intel EVO processor</span>
                            <h3 class="mt-2">Start at ₹ 1,13,990</h3>
                        </div>
                        <div class="highlight-image-wrap">
                            <img class="w-100" src="/images/product-images/macm2.png" alt="">
                        </div>

                        <div class="product-status">
                            <span>New</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 p-2 ">
                    <div class="highlight-box  justify-content-center align-items-center position-relative">
                        <div class="hilight-info p-2">
                            <h3>Surface Pro 9 </h3>
                            <h3>Windows Tablets</h3>
                            <span>Intel EVO processor</span>
                            <h3 class="mt-2">Start at ₹ 1,13,990</h3>
                        </div>
                        <div class="highlight-image-wrap">
                            <img class="w-100" src="/images/product-images/macm1.png" alt="">
                        </div>

                        <div class="product-status">
                            <span>New</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 p-2 ">
                    <div class="highlight-box  justify-content-center align-items-center position-relative">
                        <div class="hilight-info p-2">
                            <h3>Surface Pro 9 </h3>
                            <h3>Windows Tablets</h3>
                            <span>Intel EVO processor</span>
                            <h3 class="mt-2">Start at ₹ 1,13,990</h3>
                        </div>
                        <div class="highlight-image-wrap">
                            <img class="w-100" src="/images/product-images/macm2.png" alt="">
                        </div>

                        <div class="product-status">
                            <span>New</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{{>user-footer}}