{{>user-header}}
<section>
    <div class="headerhny-title text-center mt-3 mb-3">
        <h3 class="hny-title mb-0 p-4">Orders</h3>

    </div>
    <div class="container">
        <div class="row">
            {{#each orders}}
            <div class="col-md-12 mt-3">
                <div class="card-box p-2 p-lg-4 row">
                    <div class=" col-4 col-md-6 d-flex justify-content-center">
                        <img class="w-100 " style="max-width: 260px; object-fit: contain;" src="/images/product-images/{{this.product.images.[0].filename}}" alt="">
                    </div>
                    <div class=" col-8 col-md-6 ">
                        <div class="card-info-wrap ms-md-3">
                            <h5 class="mt-2 device-name text-capitalize">Order {{this.orderStatus}}</h5>
                            <p style="font-size: 12px;" class="m-0">Orderd date: {{this.date}}</p>
                            <h6 class="mt-2">₹ {{this.totalAmount}}</h6>
                            <p style="font-size: 11px;">(incl. all Taxes)</p>
                            <h6 style="font-size: 13px;" class="mt-2">Standard Delivery by Wed, 4th Jan</h6>

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

{{>user-footer}}


<style>
    @media screen and (max-width: 768px) {
        .card-box {
            flex-direction: row;
        }
    }
</style>