* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-top: 73px;
}

.user-header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: white;
  height: 60px;
  position: fixed;
  z-index: 999;
  box-shadow: 0px -1px 4px 2px #bfbfbf;
}

.left-section,
.middle-section,
.right-section {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-icon-wrap,
.search-wrap {
  background-color: #E7E9EB;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-icon {
  font-size: 17px;
}

.menu-icon-wrap {
  display: flex;
  justify-content: center;
}

.bi-heart {
  font-size: 16px;
}

.bi-cart2,
.bi-person {
  font-size: 19px;
}


/* user header icons */


.user-header-dorpdown-menu {
  color: black;
  text-decoration: none;
  font-size: 13px;
  background-color: #fbfcfc;
  position: absolute;
  border-radius: 5px;
  right: 14px;
  top: 54px;
  padding: 4px;
  transition: all .34s;
  box-shadow: 0px 0px 4px 0px #979797;
  width: 103px;
  opacity: 0;

}

.user-wrap:hover+.user-header-dorpdown-menu {
  opacity: 1;
}

.user-wrap:focus+.user-header-dorpdown-menu {
  opacity: 1;
}




.user-wrap {
  background-color: #e7e9eb;
  padding: 5px 14px 5px 14px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  transition: all .221s;
}

.user-wrap-hover:hover {
  box-shadow: 1px 1px 5px 1px #dcdcdc;
}


#cartCount {
  border-radius: 50%;
  top: 0px;
  right: -7px;
  font-size: 8px;
  padding-top: 4px;
}


/* carousel */

.carousel-cards {
  background-color: #C3DEDE;
  margin: 19px;
  border-radius: 25px;
  height: 430px;
}

.carousel-image {
  width: 100%;
  height: 320px;
  object-fit: contain;
}

.carousel-title {
  font-weight: 300;
  font-size: 52px;
  line-height: 58px;
}

.carousel-title-tail {
  font-weight: 700;
  font-size: 51px;
  line-height: 58px;
  color: black;
}

.carousel-cards button {
  color: white;
  border: none;
  padding: 10px 14px 10px 14px;
  background: #000000;
  border-radius: 22px;
  box-shadow: 1px 1px 4px 0px #474747;
  transition: all .24s;
}

.carousel-cards button:hover {
  background-color: #1c1c1c;
  transform: scale(1.1);
}

.carousel-control {
  background: #ffffff;
  height: 53px;
  width: 53px;
  border-radius: 50%;
  color: black;
  margin: auto;
  opacity: 1;
  box-shadow: 1px 1px 4px 1px #a1a1a1;
  z-index: 0;
}

.carousel-control i {
  font-size: 19px;
}

@media screen and (max-width:768px) {

  .carousel {
    margin-top: 80px;
  }

  .carousel-title,
  .carousel-title-tail {
    font-size: 31px;
  }

  .carousel-title-tail {
    margin-top: -13px !important;
  }

  .carousel-title {
    margin-top: 12px;
  }

  .carousel-cards {
    height: 473px;
  }

  .carousel-cards button {
    color: white;
    border: none;
    padding: 8px 12px 8px 12px;
    background: #000000;
    border-radius: 22px;
    font-size: 12px;
  }

  .carousel-image {
    height: 222px;
  }

  .carousel-control {
    width: 45px;
    height: 45px;
  }
}



@media screen and (min-width:1100px) {

  .carousel-cards button {
    padding: 12px 17px 12px 17px;
    border-radius: 24px;
  }

  .carousel-title,
  .carousel-title-tail {
    font-size: 60px;
    line-height: 74px;
  }

  .carousel-image {
    height: 360px
  }

  .carousel-cards {
    height: 481px;
    margin: 28px;
  }
}

.category-right {
  background-color: #23212B;
  border-radius: 25px 0px 0px 25px;
  /* padding-top: 36px; */
  z-index: 1;
}

.category-title>h2 {
  padding: 23px;
}

.category-icon-image {
  width: 8rem;
}

.category-row {
  display: flex;
  background-image: linear-gradient(180deg, #ffffff, #dacdf9);
}

.category-left {
  flex: 1;
}

.category-right {
  flex: 4;
  overflow-x: scroll;
}

.category-banner {
  min-width: 298px;
}

.category-right::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width:900px) {
  .category-left {
    display: none;
  }

  .category-right {
    border-radius: 0px;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 13px;
    overflow-x: hidden;

  }

  .category-icon-image {
    width: 6rem;
  }
}

@media screen and (max-width:600px) {
  .category-icon-image {
    width: 71px;
  }
}



/* product list box */
.product-box-wrap {
  background-color: #F2F3F3;
  max-width: 200px;
  min-width: 186px;
  padding: 20px;
  border-radius: 16px;
  position: relative;
}

@media screen and (max-width:600px) {
  .product-box-wrap {
    width: 180px;
    height: 241px;
  }
}



.product-box-wrap>i {
  position: absolute;
  top: 18px;
  right: 17px;
  font-size: 18px;
}

.proudct-image-wrap>.product-image {
  max-width: 110px;
}

.product-box-wrap>.product-name,
.product-price {
  font-weight: 500;
}

/* ad section */


.advertisement-banner-wrap>img {
  border-radius: 17px;
  object-fit: cover;
  object-position: left;
}

@media screen and (max-width:768px) {

  .advertisement-banner-wrap>img {
    height: 150px;
    object-position: left;
    object-fit: cover;

  }
}


/* Highlights */
.highlight-box {
  background-color: #C9D5EB;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 11px;
  padding: 11px;
}

.hilight-info>h3 {
  font-weight: 600;
  font-size: 17px;
}

.hilight-info>span {
  font-size: 12px;
}

.product-status {
  background-color: #FF6BD1;
  color: #ffffff;
  width: 61px;
  text-align: center;
  font-weight: 400;
  position: absolute;
  top: 0;
  padding: 3px;
  border-radius: 11px 0px 3px 2px;
}



@media screen and (max-width:1200px) {
  .product-status {
    width: 46px;
    padding: 0px;
    font-size: 12px;
  }
}

/* login/signup */
form>button {
  border-radius: 22px;
  padding: 10px 27px 10px 27px;
  font-size: 15px;
  border: 1px solid #000000;
  background-color: black;
  color: white;
  transition: all .33s;

}

.form-outline>input {
  border-radius: 20px;
  font-size: 17px;
}

form>button:hover {
  background-color: #ffffff;
  color: #000000;

}

form>p {
  cursor: pointer;
}

/* @media screen and (max-width:768px) {
  body {
    margin-top: -23px;
  }
} */


/* side bar  */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 25px;
  z-index: 2;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#close-btn {
  display: none;
}

#mySidenav {
  margin-top: 60px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* page header */

.page-header {
  background-color: #f7f7f7;
}

.page-loc-wrapper {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.accout-card {
  border-radius: 10px;
  border: 2px solid #dfdfdf;
  background-color: #f9f9f9;
  transition: all .34s;

}

.accout-card-title {
  color: #0088d9;
}

.accout-card:hover {
  border: 2px solid #0088d9;

}

/* cart page */

.card-box>.left-section {
  flex: 1;
}

.card-box-img-wrap>img {
  width: 150px;
}

.card-box>.right-section {
  flex: 1;
}

.card-box {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 12px;
}

.box-card-btn-wrap>a:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width:768px) {
  .card-box {
    flex-direction: column;
  }
}

.delivery-address-box,
.order-summary-wrap {
  background-color: #f7f7f7;
  color: black;
  border-radius: 9px;
  padding: 20px;
}

.delivery-address-box>p {
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.delivery-address-box>span {
  font-weight: 600;
}

.order-summary-wrap {
  background-color: #f7f7f7;
}

.original-price-wrap>p,
span,
.delivery-price-wrap>p,
span,
.total-wrap>p,
span {
  font-weight: 400;
}

.order-btn-wrap>button {
  background-color: #0088d9;
  border-color: #0088d9;
}

.order-right-section {
  height: 70vh;
  position: sticky;
  top: 43px;
}

.box-card-btn-wrap>a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  min-width: 170px;
  border-radius: 0;
  white-space: normal;
  transition: all 0.3s;
}

.cart-sm-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 10px;
  margin-top: 0px !important;
  border-radius: 0px 0px 7px 7px;
}

.cart-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.cart-image {
  width: 120px;
}

.cart-product-name {
  font-size: 24px;
}

.cart-tax-info {
  font-size: 11px;
}

.cart-delivery-info {
  font-size: 13px
}

.wrapper {
  height: 37px;
  min-width: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(204 204 204 / 20%);
}

.cart-btn {
  background-color: #4285f4;
  box-shadow: 0px 0px 3px 1px #93bcff;
  width: 100%;
}

@media screen and (max-width:768px) {
  .box-card-btn-wrap>a {
    min-width: 100%;
  }

  .card-box-img-wrap>img {
    width: 95px;
  }

  .cart-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .cart-product-name {
    font-size: 22px;
  }

  .cart-price {
    font-size: 15px;
  }

  .cart-tax-info {
    font-size: 11px;
  }

  .cart-delivery-info {
    font-size: 10px
  }

  .wrapper {
    height: 29px;
    min-width: 79px;
  }

  .box-card-btn-wrap>a {
    padding: 0.56rem 1.5rem;
  }

}

/* cart :increment */
/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');





.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.wrapper span.num {
  font-size: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

/* checkout page */

.model-select {
  border-style: solid;
  /* border-width: 20px; */
  border-color: #c4c4c4;
  border-radius: 13px;
  outline: none;
  border-width: 1px;
  padding: 16px;
}

.radio-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.model-container input:checked~.model-select {
  border-color: #2196F3;
  border-width: 2px;
}

#navbar.mySidenav {
  position: absolute !important;
}

.radio-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.add-address-wrap {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  font-size: 21px;
  height: 100px;
}

.checkout-btn {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  min-width: 28px;
  padding: 18px 31px;
  --sk-button-margin-horizontal: 22px;
  --sk-button-margin-vertical: 22px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 8px;
  --sk-button-margin-horizontal: 9px;
  --sk-button-margin-vertical: 9px;
  border-radius: 12px;
  white-space: normal;
  display: inline-block;
}

@media screen and (max-width:768px) {
  .checkout {
    flex-direction: column-reverse;
  }

  .order-right-section {
    height: 45vh;
    position: static;
  }

}


/* product details */
.special-offer-box {
  display: inline-block;
  background-color: white;
  border: 2px solid #0088d9;
  border-radius: 3px;
  padding: 0px 14px;
  text-transform: capitalize;
}

.special-offer-box>p {

  font-size: 11px;
  color: #0088d9;
  font-weight: 500;
}

/* order page */
.order-id {
  background-color: #f7f7f7;
  padding: 6px 7px;
  border-radius: 24px;
  color: #0088d9;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .card-box {
    flex-direction: row;
  }
}



@media screen and (max-width:768px) {

  .order-id,
  .order-date {
    font-size: 10px;
  }
}

.orders-wrap,
.order-card {
  background-color: white;
  box-shadow: 1px 1px 5px 1px #e5e2e2;
  padding: 11px;
  border-radius: 10px;
}


/* order success */
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.check-container {
  width: 6.25rem;
  height: 7.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.check-container .check-background {
  width: 100%;
  height: calc(100% - 1.25rem);
  background: linear-gradient(to bottom right, #3db7ff, #0f61da);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  transform: scale(0.84);
  border-radius: 50%;
  -webkit-animation: animateContainer 0.75s ease-out forwards 0.75s;
  animation: animateContainer 0.75s ease-out forwards 0.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.check-container .check-background svg {
  width: 65%;
  transform: translateY(0.25rem);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  -webkit-animation: animateCheck 0.35s forwards 1.25s ease-out;
  animation: animateCheck 0.35s forwards 1.25s ease-out;
}

.check-container .check-shadow {
  bottom: calc(-15% - 5px);
  left: 0;
  border-radius: 50%;
  background: radial-gradient(closest-side, rgb(73, 218, 131), transparent);
  -webkit-animation: animateShadow 0.75s ease-out forwards 0.75s;
  animation: animateShadow 0.75s ease-out forwards 0.75s;
}

@-webkit-keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }

  25% {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }

  43.75% {
    transform: scale(1.15);
    box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }

  62.5% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
  }

  81.25% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }

  100% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
}

@keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }

  25% {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }

  43.75% {
    transform: scale(1.15);
    box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }

  62.5% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
  }

  81.25% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }

  100% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
}

@-webkit-keyframes animateCheck {
  from {
    stroke-dashoffset: 80;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animateCheck {
  from {
    stroke-dashoffset: 80;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes animateShadow {
  0% {
    opacity: 0;
    width: 100%;
    height: 15%;
  }

  25% {
    opacity: 0.25;
  }

  43.75% {
    width: 40%;
    height: 7%;
    opacity: 0.35;
  }

  100% {
    width: 85%;
    height: 15%;
    opacity: 0.25;
  }
}

@keyframes animateShadow {
  0% {
    opacity: 0;
    width: 100%;
    height: 15%;
  }

  25% {
    opacity: 0.25;
  }

  43.75% {
    width: 40%;
    height: 7%;
    opacity: 0.35;
  }

  100% {
    width: 85%;
    height: 15%;
    opacity: 0.25;
  }
}


/* //wish list */

.wishlist-action-wrapper {
  right: 12px;
  top: 14px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 1px 1px 11px 1px #cccccc;
  height: 40px;
  width: 41px;
  border-radius: 50%;
  z-index: 99;
}

.wishlist-action-wrapper>a {
  font-family: "molla";
}

.wishlist-action-wrapper>a:before {
  font-family: "molla";
  margin-right: 0px;
}

.product-image-box {
  width: 400px !important;
  height: 400px !important;
  object-fit: contain;
}

@media screen and (max-width:768px) {
  .product-image-box {
    width: 250px !important;
    height: 250px !important;
    object-fit: contain;
  }
}

/* features in product details */

.key-fearures>p {
  color: #484848 !important;
  font-weight: 400;
}



/* wish list icon */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.button--secondary,
.button--secondary:visited {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: 15px;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: background 0.1s linear;
  font-weight: 400;
  color: #0090e3;
  background: #fff;
  box-shadow: none;
  transition-property: border;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}

.button--full-width {
  min-width: 385px;
}

.icon-with-text {
  display: inline-flex;
  align-items: flex-start;
}

.icon-with-text__icon {
  flex-shrink: 0;
  margin-right: 8px;
  margin-top: -2px;
}

.icon-svg--color-silver {
  fill: #cccccc;
  color: #cccccc;
}

.icon-svg--color-blue {
  fill: #0090e3;
  color: #0090e3;
}

.icon-svg {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}

.heart-full {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn__effect {
  display: inline-block;
  position: relative;
}

.effect-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(25deg);
}

.effect-group .effect {
  display: block;
  position: absolute;
  top: 38%;
  left: 50%;
  width: 20px;
  transform-origin: 0px 2px;
}

.effect-group .effect:nth-child(2) {
  transform: rotate(72deg);
}

.effect-group .effect:nth-child(3) {
  transform: rotate(144deg);
}

.effect-group .effect:nth-child(4) {
  transform: rotate(216deg);
}

.effect-group .effect:nth-child(5) {
  transform: rotate(288deg);
}

.effect-group .effect:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  border-radius: 1.5px;
  height: 3px;
  background: #0090e3;
}

.effect-group .effect:after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 10%;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background: #ff6600;
  transform: scale(0, 0);
}

.active .heart-stroke {
  opacity: 0;
}

.active .heart-full {
  opacity: 1;
}

.active .icon-svg {
  -webkit-animation: bounceIn 0.5s linear;
  animation: bounceIn 0.5s linear;
}

.active .effect:before {
  -webkit-animation: fireworkLine 0.5s linear 0.1s;
  animation: fireworkLine 0.5s linear 0.1s;
}

.active .effect:after {
  -webkit-animation: fireworkPoint 0.5s linear 0.1s;
  animation: fireworkPoint 0.5s linear 0.1s;
}

.broken-heart {
  position: absolute;
  left: -16px;
  top: 0;
  opacity: 0;
}

.broken-heart--left {
  transform: rotate(0deg);
  transform-origin: 60% 200%;
}

.broken-heart--right {
  transform: rotate(0deg);
  transform-origin: 63% 200%;
}

.broken-heart--crack {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
}

.deactivate .broken-heart {
  opacity: 1;
}

.deactivate .broken-heart--left {
  -webkit-animation: crackLeft 0.35s cubic-bezier(0.68, -0.55, 0.265, 2.85) 0.15s forwards, hide 0.25s ease-in 0.55s forwards;
  animation: crackLeft 0.35s cubic-bezier(0.68, -0.55, 0.265, 2.85) 0.15s forwards, hide 0.25s ease-in 0.55s forwards;
}

.deactivate .broken-heart--right {
  -webkit-animation: crackRight 0.35s cubic-bezier(0.68, -0.55, 0.265, 2.85) 0.15s forwards, hide 0.25s ease-in 0.55s forwards;
  animation: crackRight 0.35s cubic-bezier(0.68, -0.55, 0.265, 2.85) 0.15s forwards, hide 0.25s ease-in 0.55s forwards;
}

.deactivate .broken-heart--crack {
  -webkit-animation: crack 0.2s ease-in forwards;
  animation: crack 0.2s ease-in forwards;
}

.button.one.desktop:not(.active):hover .heart-stroke {
  -webkit-animation: pulse 1s ease-out infinite;
  animation: pulse 1s ease-out infinite;
}

.button.two.desktop:not(.active):hover .heart-stroke {
  -webkit-animation: pulseBlue 1s ease-out infinite;
  animation: pulseBlue 1s ease-out infinite;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    transform-origin: center center;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.15);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform-origin: center center;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.15);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes pulseBlue {
  0% {
    transform-origin: center center;
    transform: scale(1);
    fill: #cccccc;
  }

  50% {
    transform: scale(1.15);
    fill: #0090e3;
  }

  100% {
    transform: scale(1);
    fill: #cccccc;
  }
}

@keyframes pulseBlue {
  0% {
    transform-origin: center center;
    transform: scale(1);
    fill: #cccccc;
  }

  50% {
    transform: scale(1.15);
    fill: #0090e3;
  }

  100% {
    transform: scale(1);
    fill: #cccccc;
  }
}

@-webkit-keyframes fireworkLine {
  0% {
    right: 20%;
    transform: scale(0, 0);
  }

  25% {
    right: 20%;
    width: 6px;
    transform: scale(1, 1);
  }

  35% {
    right: 0;
    width: 35%;
  }

  70% {
    right: 0;
    width: 4px;
    transform: scale(1, 1);
  }

  100% {
    right: 0;
    transform: scale(0, 0);
  }
}

@keyframes fireworkLine {
  0% {
    right: 20%;
    transform: scale(0, 0);
  }

  25% {
    right: 20%;
    width: 6px;
    transform: scale(1, 1);
  }

  35% {
    right: 0;
    width: 35%;
  }

  70% {
    right: 0;
    width: 4px;
    transform: scale(1, 1);
  }

  100% {
    right: 0;
    transform: scale(0, 0);
  }
}

@-webkit-keyframes fireworkPoint {
  30% {
    transform: scale(0, 0);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 0);
  }
}

@keyframes fireworkPoint {
  30% {
    transform: scale(0, 0);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 0);
  }
}

@-webkit-keyframes bounceIn {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1.25);
  }

  50% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1.25);
  }

  50% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }
}

@-webkit-keyframes crackLeft {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes crackLeft {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes crackRight {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes crackRight {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes crack {
  0% {
    stroke-dasharray: 15;
    stroke-dashoffset: 15;
  }

  80% {
    stroke-dasharray: 15;
    stroke-dashoffset: 0;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes crack {
  0% {
    stroke-dasharray: 15;
    stroke-dashoffset: 15;
  }

  80% {
    stroke-dasharray: 15;
    stroke-dashoffset: 0;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */